.model-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 280px;
    height: 515px;
    border: solid 5px black;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 0px;
    z-index: 1;
}

.model-dropdown-input{
    display: flex;
    flex-direction: row;
    background-color: #FFCA64;
    border: 3px solid black;
    width: 220px;
    border-radius: 10px;
    padding: 10px;
}

.model-dropdown-input input{
    border: none;
    background-color: #FFCA64;
    font-size: 18px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    margin-left: 10px;
}

input:focus{
    outline: none;
}

.model-dropdown-items{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 240px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    margin-bottom: 30px;
    

}

/* .model-dropdown-item{
    background-image: url('../../assets/variant.svg');
    width: 240px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.model-dropdown-item{
    background-image: url('../../assets/variant2.svg');
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.model-dropdown-item p{
    font-family: var(--font-family);
    font-size: 10px;
    font-weight:bolder;
    margin-top: 15px;
}