

.select-main{
    width: 360px;
    height: 800px;
    background-color: #FFEAC1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-image: url(../../assets/main-bg.svg); */
    

}

.select-img{
    padding: 30px;
}



.select-text{
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-text-img{
    position: absolute;
    left: 50px;
    top: 200px;
    
}

.select-text h2{
    margin: 0;
    font-family: var(--font-family);
    font-size: 28px;
    
}
.select-text h1{        
    margin: 0;
    font-family: var(--font-family);
    font-size: 48px;
    padding: 0;
}

.select-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    align-items: flex-start;
}

.select-buttons p{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.linking{
    text-decoration: none;
    color: black;
}